@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Pacifico&display=swap');

/* ================================================================================ */
/* UTILITIES */
/* UTILITIES */
/* UTILITIES */
/* ================================================================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

:root {
  --color-cultured: #f7f9f9;
  --color-opal: #bed8d4;
  --color-medium-turquoise: #78d5d7;
  --color-baby-blue: #63d2ff;
  --color-green-blue-crayola: #2081c3;
  --color-lighter-blue: #5379ff;
  --color-darker-blue: #0038ff;
  --color-grey: #333;
  --color-contrast-1: red;
  --color-contrast-2: darkorange;
  --color-contrast-3: orange;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

/* ================================================================================ */
/* NAV */
/* NAV */
/* NAV */
/* ================================================================================ */
#navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem 2rem;
  z-index: 2;
  transition: 0.2s;
}

#navbar #inner-nav {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

#navbar #inner-nav #nav-left {
  display: flex;
  align-items: center;
}

#navbar #inner-nav #nav-left img {
  width: 30px;
  margin-right: 2rem;
}

#navbar #inner-nav #nav-left a {
  color: var(--color-cultured);
}

#nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  /* background: #0038ff; */
  /* background: var(--color-green-blue-crayola); */
  opacity: 1;
  left: 0;
  /* box-shadow: var(--box-shadow-nav); */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navbar #inner-nav #nav-right #nav-links a {
  color: var(--color-cultured);
  font-size: 0.75rem;
  font-weight: 100;
  padding: 0.75rem 1rem;
  transition: 0.2s;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navbar #inner-nav #nav-right #nav-links a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

#navbar #inner-nav #nav-right #nav-links #deals-link {
  border: 3px solid white;
  border-radius: 25px;
  padding: 0.75rem 2rem;
  font-weight: 700;
  margin-left: 1rem;
}

#navbar #inner-nav #nav-right #nav-links #deals-link:hover {
  background-color: var(--color-darker-blue);
}

#navbar #inner-nav #nav-right #nav-links a i {
  display: none;
}

#nav-links-mobile {
  display: none;
}

/* ================================================================================ */
/* HERO SECTION */
/* HERO SECTION */
/* HERO SECTION */
/* ================================================================================ */
#hero {
  width: 100vw;
  height: 100vh;
}

#hero-img {
  width: 100%;
  height: 100%;
  background: url('./assets/hero-img-1.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo-main {
  width: 200px;
}

h1 {
  text-align: center;
  color: var(--color-cultured);
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  text-shadow: 0 5px 10px rgba(0, 0, 100, 0.95);
}

h1 span {
  font-size: 1.2rem;
  font-weight: 100;
  text-shadow: 0 5px 10px rgba(0, 0, 100, 0.95);
}

#hero-links {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

#hero-links a i {
  width: 40px;
  height: 40px;
  background: linear-gradient(var(--color-contrast-1), var(--color-contrast-2));
  color: var(--color-cultured);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-links a i:hover {
  box-shadow: 0 15px 15px -5px rgba(0, 0, 100, 0.25);
}

/* ================================================================================ */
/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */
/* ================================================================================ */

#about {
  height: 100vh;
  width: 100vw;
  background: var(--color-cultured);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

#about-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#about-card {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  background-color: var(--color-cultured);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#about-card h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-grey);
}

#about-card p {
  line-height: 1.8rem;
  font-size: 0.8rem;
  font-weight: 100;
}

#about-card h3 {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-grey);
}

#about-card img {
  position: absolute;
  top: 40%;
  left: 0;
  width: 90%;
  transform: rotate(90deg);
  filter: invert(0.5);
  opacity: 0.1;
}

/* ================================================================================ */
/* COPY 1 SECTION */
/* COPY 1 SECTION */
/* COPY 1 SECTION */
/* ================================================================================ */
#copy-1 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-opal);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#copy-1 h2 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 3rem;
  margin-left: 2rem;
  align-self: flex-start;
  width: 50%;
}

#copy-1-form {
  /* align-self: flex-start; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#copy-1-form form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#copy-1-form p {
  font-size: 0.8rem;
  font-weight: 100;
}

#copy-1-form p:last-child {
  margin-top: 1.5rem;
}

#copy-1-form form input[type='text'] {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  color: var(--color-grey);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25);
}

#copy-1-form form input[type='text']:focus,
#copy-1-form form input[type='submit']:focus {
  outline: none;
}

#copy-1-form form input[type='submit'] {
  padding: 1rem 3rem;
  border: none;
  margin-left: 0;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  background-color: var(--color-darker-blue);
  color: var(--color-cultured);
}

#copy-1-form form input[type='submit']:hover {
  cursor: pointer;
}

#copy-1 img {
  width: 100%;
}

#copy-1-img-lg {
  display: none;
}

#copy-1-img-sm {
  width: 256px;
  margin-bottom: 2rem;
}

/* ================================================================================ */
/* SERVICES SECTION */
/* SERVICES SECTION */
/* SERVICES SECTION */
/* ================================================================================ */

#services {
  width: 100vw;
  background-color: var(--color-cultured);
  padding: 0;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#services h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-grey);
  margin-top: 4rem;
}

#services #services-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#services #services-cards .services-card {
  width: 90%;
  height: 400px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#services #services-cards .services-card .services-card-head {
  background-color: var(--color-lighter-blue);
  height: 40%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  border-radius: 0;
}

#services #services-cards .services-card .services-card-head img {
  width: 70px;
}

#services #services-cards .services-card .services-card-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#services #services-cards .services-card .services-card-body h3 {
  color: var(--color-grey);
  opacity: 0.75;
}

#services #services-cards .services-card .services-card-body p {
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0 2rem;
  text-align: justify;
}

#services #services-cards .services-card .services-card-footer {
  height: 10%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

#services #services-cards .services-card .services-card-footer a {
  border-bottom: 3px solid rgba(255, 0, 0, 0.2);
  padding-bottom: 0.5rem;
  color: var(--color-contrast-2);
  font-weight: 600;
  transition: 0.2s;
}

#services #services-cards .services-card .services-card-footer a:hover {
  transform: scaleX(1.1);
}

/* ================================================================================ */
/* TESTIMONIALS SECTION */
/* TESTIMONIALS SECTION */
/* TESTIMONIALS SECTION */
/* ================================================================================ */

#testimonials {
  width: 100vw;
  padding: 4rem 0;
  background: linear-gradient(var(--color-lighter-blue), var(--color-green-blue-crayola));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#testimonials #testimonials-head {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#testimonials #testimonials-head h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1rem;
}

#testimonials #testimonials-head h2 span {
  border-bottom: 4px solid var(--color-opal);
}

#testimonials #testimonials-head h3 {
  font-weight: 200;
  margin-top: 4rem;
}

#testimonials #testimonials-head h2,
#testimonials #testimonials-head h3 {
  color: var(--color-cultured);
  text-align: center;
}

#testimonials #testimonials-body {
  height: 75%;
  width: 80%;
  padding: 4rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#testimonials #testimonials-body .testimonials-card {
  width: 400px;
  height: 300px;
  margin-top: 4rem;
}

#testimonials #testimonials-body .testimonials-card .testimonials-card-head {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials #testimonials-body .testimonials-card .testimonials-card-head img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#testimonials #testimonials-body .testimonials-card .testimonials-card-head h6 {
  color: var(--color-cultured);
  margin-left: 1rem;
}

#testimonials #testimonials-body .testimonials-card .testimonials-card-body {
  height: 65%;
}

#testimonials #testimonials-body .testimonials-card .testimonials-card-body p {
  color: var(--color-cultured);
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: justify;
}

#testimonials #testimonials-footer {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
}

#testimonials #testimonials-footer a {
  color: var(--color-cultured);
  font-weight: 100;
  font-size: 0.75rem;
}

#testimonials #testimonials-footer a i {
  font-size: 0.5rem;
  border: 1px solid var(--color-baby-blue);
  padding: 0.5rem;
  border-radius: 50%;
}

/* ================================================================================ */
/* CONTACT SECTION */
/* CONTACT SECTION */
/* CONTACT SECTION */
/* ================================================================================ */

#contact {
  background-color: var(--color-grey);
  text-align: center;
}

#contact #contact-head {
  padding: 4rem 0;
}

#contact #contact-head h2 {
  color: var(--color-cultured);
  font-size: 4rem;
  font-weight: 700;
}

#contact #contact-body {
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact #contact-body #contact-social {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact #contact-body #contact-social #social-wrapper a {
  margin-bottom: 2rem;
  color: var(--color-cultured);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#contact #contact-body #contact-social #social-wrapper a i {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background-color: var(--color-cultured);
  color: var(--color-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact #contact-body #contact-seperator {
  width: 10%;
}

#contact #contact-body #contact-seperator-mobile {
  display: none;
}

#contact #contact-body #contact-seperator img {
  width: 30px;
}

#contact #contact-body #contact-form {
  width: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#contact #contact-body #contact-form form {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

#contact #contact-body #contact-form form input[type='text'],
#contact #contact-body #contact-form form input[type='email'],
#contact #contact-body #contact-form form #message {
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  /* color: var(--color-grey); */
  color: var(--color-cultured);
  background: transparent;
  border: 2px solid var(--color-cultured);
  border-radius: 35px;
}

#contact #contact-body #contact-form form #message {
  resize: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

#contact #contact-body #contact-form form input[type='submit'] {
  padding: 1rem 3rem;
  border: none;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  background-color: var(--color-darker-blue);
  color: var(--color-cultured);
}

#contact #contact-body #contact-form form input[type='submit']:hover {
  cursor: pointer;
}

#contact #contact-body #contact-form form input[type='text']:focus,
#contact #contact-body #contact-form form input[type='email']:focus,
#contact #contact-body #contact-form form #message:focus,
#contact #contact-body #contact-form form input[type='submit']:focus {
  outline: none;
}

#contact #contact-footer {
  background-color: var(--color-cultured);
  padding: 2rem 1rem;
}

#contact #contact-footer p {
  font-size: 0.75rem;
}

#contact #contact-footer p a {
  text-decoration: underline;
}

/* ================================================================================ */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* ================================================================================ */

@media (min-width: 576px) {
  /* ========== HERO ============================================================ */
  #hero {
    height: 60vh;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  h1 span {
    font-weight: 200;
    font-size: 1.5rem;
  }

  /* ========== ABOUT =========================================================== */

  #about {
    height: 900px;
    padding: 2rem 4rem;
  }

  #about-card {
    width: 50%;
    height: 80%;
    padding: 2rem 6rem;
    background-color: var(--color-cultured);
    box-shadow: 0 0 15px rgba(0, 0, 100, 0.25);
    position: absolute;
  }

  #about-card img {
    top: 15%;
    filter: invert(0.3);
  }

  #about-card h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  #about-card h3 {
    text-align: right;
  }

  #about-right {
    width: 100%;
    height: 100%;
    background: url('./assets/img-about-1.jpg') no-repeat center center/cover;
  }

  /* ========== COPY 1 ========================================================== */

  #copy-1 {
    height: 800px;
    padding: 2rem 4rem;
    /* align-items: flex-start; */
    justify-content: space-between;
  }

  #copy-1 h2 {
    font-size: 4rem;
    line-height: 8rem;
    margin-left: 5.5rem;
  }

  #copy-1-form {
    margin-left: 5.5rem;
    align-self: flex-start;
    margin-top: -2rem;
    align-items: flex-start;
  }

  #copy-1-form form {
    display: block;
  }

  #copy-1-form form input[type='submit'] {
    margin-top: 0;
    margin-left: 2rem;
  }

  #copy-1-img-sm {
    display: none;
  }

  #copy-1-img-lg {
    display: block;
  }

  /* ========== SERVICES ======================================================== */
  #services {
    padding: 4rem 4rem;
  }

  #services h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-left: 5.5rem;
    align-self: flex-start;
    margin-top: 0;
  }

  #services #services-cards {
    padding: 0 4rem;
  }

  #services #services-cards .services-card {
    width: 300px;
  }

  #services #services-cards .services-card .services-card-head {
    border-radius: 15px 15px 0 0;
  }

  #services #services-cards .services-card .services-card-body {
    padding: 5px;
    align-items: flex-start;
  }

  #services #services-cards .services-card .services-card-body p {
    padding: 0;
    text-align: left;
  }

  #services #services-cards .services-card .services-card-footer {
    justify-content: flex-start;
  }

  /* ========== TESTIMONIALS ==================================================== */

  #testimonials #testimonials-body .testimonials-card .testimonials-card-head {
    justify-content: flex-start;
  }

  #testimonials #testimonials-body .testimonials-card .testimonials-card-body p {
    text-align: left;
  }
}

@media (max-height: 569px) {
  #about-card p {
    line-height: 1.2rem;
  }

  #testimonials #testimonials-head h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }

  #testimonials #testimonials-body .testimonials-card:first-child {
    margin-top: 1rem;
  }

  #testimonials #testimonials-body .testimonials-card {
    margin-top: 8rem;
  }
}

@media (max-width: 840px) {
  #navbar #inner-nav #nav-left a {
    display: none;
  }

  #navbar #inner-nav #nav-right #nav-links {
    display: none;
  }

  #nav-icon {
    display: block;
  }

  #nav-links-mobile {
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: dodgerblue;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s;
  }

  #nav-links-mobile a {
    width: 200px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-green-blue-crayola);
    color: var(--color-cultured);
  }

  #nav-links-mobile a i {
    margin-right: 2rem;
  }

  #nav-links-mobile a:last-child {
    border: none;
  }

  #contact #contact-head h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  #contact #contact-body {
    flex-direction: column;
  }

  #contact #contact-body #contact-social #social-wrapper a {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  #contact #contact-body #contact-social #social-wrapper a i {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
  }

  #contact #contact-body #contact-seperator {
    display: none;
  }

  #contact #contact-body #contact-seperator-mobile {
    display: block;
  }

  #contact #contact-body #contact-seperator-mobile p {
    color: var(--color-cultured);
    margin: 2rem 0;
  }

  #contact #contact-body #contact-form form {
    width: 300px;
  }
}
